body{
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    align-items:center;
}

.calculator{
    padding:15px;
    background-color:grey;
    width:250px;
    display:flex;
    gap:8px;
    flex-wrap:wrap;
    justify-content: space-between;
    align-items:center;
    border-radius:7px;
}

.screen{
    background-color:rgb(217, 216, 216);
    width:250px;
    height:90px;
    padding:5px;
    border-radius:7px;
    font-size:24px;
    overflow:scroll;
}
.numbers{
    justify-content:space-around;
    display:flex;
    flex-wrap:wrap;
}

.number{
    width:80px;
    border-radius:5px;
    font-size:18px;
}

.operation{
    width:80px;
    font-size:18px;
    border-radius:5px;
}

.equals{
    width:80px;
    font-size:20px;
    border-radius:5px;
}

.clear{
    width:80px;
    font-size:20px;
    border-radius:5px;
}

.decimal{
    width:80px;
    font-size: 18px;
    border-radius:5px;
}

.backspace{
    width:80px;
    font-size:12px;
    border-radius:5px;
    padding:2px;
}

button{
    cursor:pointer;
    box-shadow: 0 4px #999;
}

button:active, .is-pressed{
    background-color: #dcdcdc;
    box-shadow: 0 2px #666;
    transform: translateY(2px);
}